.featuredProducts {
  margin: 100px 200px;

  .top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #333;
    margin-bottom: 50px;

    h1 {
      font-weight: 500;
      letter-spacing: 1px;
      text-transform: uppercase;
    }

    p {
      color: #737373;
      letter-spacing: 0.3px;
      margin-top: 10px;
    }
  }

  .bottom {
    display: flex;
    justify-content: center;
    gap: 50px;
  }
}
